script(src='/socket.io/socket.io.js')
script(src='/javascripts/adapter.js')
script(src='/javascripts/vendors/jquery/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js')
script(src='https://wzrd.in/standalone/uuid%2Fv4@latest')
// Bootstrap Js CDN
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')