doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://use.fontawesome.com/45e03a14ce.css', media='all', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/sweetalert2.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/adapter.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/sweetalert2.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js')
    script(src='https://wzrd.in/standalone/uuid%2Fv4@latest')
  body
    block content