html(doctype)
head
    meta(name='viewport', content='width=device-width')
    title Helis Video Chat App
    // Bootstrap CSS CDN
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // Font-Awesome CSS CDN
    link(href='https://use.fontawesome.com/45e03a14ce.css', media='all', rel='stylesheet')
    // SweetAlert2 CSS CDN
    link(rel='stylesheet', href='/stylesheets/sweetalert2.min.css')
    // Roboto Font CDN
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    // Our Custom CSS
    link(rel='stylesheet', href='/stylesheets/custom.css')
body
    block content
    include includes/scripts.pug
    block bottom