extends layout

block content
    | socket.io Signaling 1to1 (trickle ICE)
    br
    button(type='button', onclick='startVideo();') Start Video
    button(type='button', onclick='stopVideo();') Stop Video
    button#connect(type='button', onclick='connect();', disabled) Connect
    button#hangUp(type='button', onclick='hangUp();', disabled) Hang Up
    div
        video#local_video(autoplay='', style='border: 1px solid black;')
        video#remote_video(autoplay='', style='border: 1px solid black;')
    p
        | SDP to send:
        br
        textarea#text_for_send_sdp(rows='10', cols='60', readonly='readonly') SDP to send
    p
        | SDP received:
        //
          <button type="button" onclick="onSdpText();">Receive remote SDP</button>
        br
        textarea#text_for_receive_sdp(rows='10', cols='60', readonly='readonly')
    ul#client_list
    script(src='/javascripts/signaling.js')